[submodule "project/rapidjson"]
	path = project/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "project/discord-rpc"]
	path = project/discord-rpc
	url = https://github.com/discord/discord-rpc
