# This is a basic workflow to help you get started with Actions

name: Testing

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          submodules: true

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.2.5

      - name: Compiling 
        run: |
          haxelib --quiet git hxdiscord-rpc https://github.com/MAJigsaw77/hxdiscord-rpc.git
          haxe -cp ./test -D analyzer-optimize --library hxdiscord-rpc -main Main --cpp bin
  MacOS:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          submodules: true

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.2.5

      - name: Compiling 
        run: |
           haxelib --quiet git hxdiscord-rpc https://github.com/MAJigsaw77/hxdiscord-rpc.git
          haxe -cp ./test -D analyzer-optimize --library hxdiscord-rpc -main Main --cpp bin
  Windows:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          submodules: true

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.2.5

      - name: Compiling 
        run: |
          haxelib --quiet git hxdiscord-rpc https://github.com/MAJigsaw77/hxdiscord-rpc.git
          haxe -cp ./test -D analyzer-optimize --library hxdiscord-rpc -main Main --cpp bin
