name: Testing
on:
  push:
    branches: main
  workflow_dispatch:
jobs:
  Job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          submodules: true

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.2

      - name: Compiling 
        run: |
          haxelib git hxdiscord_rpc https://github.com/MAJigsaw77/hxdiscord_rpc.git ${{github.ref_name}} --quiet
          cd sample
          haxe build.hxml
